body {
    margin:0;
    background-color:rgb(228, 226, 226)
}

.list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}
